# Python
backend/.venv/
__pycache__/
*.pyc

# Node/React
frontend/node_modules/
frontend/dist/

# IDE/OS
.vscode/
.DS_Store

# App data
backend/data.db


# env files
backend/.env
frontend/.env
.env
.env.*
*/.env
*/.env.*
.env
data.db
__pycache__/
package/
backend.zip
*.pyc
